<div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Slide Show</h4>
        </div>
        <div class="modal-body">
          <img alt="Cinque Terre" ng-src="{{ vm.slideImage }}" class="img-thumbnail"/>
        </div>
        <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      
      <div ng-controller="Ctrl">
          <span>Time (in ms): {{timeInMs}}</span>
      </div>
</div>